<% include partials/head %>
  <h3><%= title %> by student <%= user_id %> <br>
    <small>Total words: <%= votes.length %></small>
  </h3>

  <div class="card" style="margin-bottom: 50px;">
    <div class="card-body">
        <% for(var i=0; i < votes.length; i++) { %>
            <div>
                <h4 class="card-text"><%= votes[i].word %></h4>
                <p class="card-text"><b>Book:</b> <%= votes[i].book_name %></p>
                <p class="card-text"><b>Sentence:</b> <%= votes[i].sentence %></p>
                <p class="card-text"><b>Selected Meaning:</b> <%= votes[i].meaning %></p>
                <p class="card-text"><b>Time:</b> <%= votes[i].updated_on %></p>
            </div>
            <hr>
        <% } %>
    </div>
</div>

<% include partials/foot %>