<% include partials/head %>
<h2>Words without voted meanings<br>
<small>
    Words that the students voted "I dont't know" as the meaning.
</small></h2>

<style>
    .word {text-transform: capitalize;}
    .voted {color: green; font-weight: bold;}
</style>

<% for(var bi=0; bi < books.length; bi++) { %>
    <% if(books[bi].votes.length == 0) continue; %>
    <div class="card" style="margin-bottom: 50px;">
        <div class="card-body">
            <h2 class="card-title">
                <%= books[bi].book_name %> <br>
                <small><%= books[bi].author_name %></small>
            </h2>
            <hr>
            <% for(var vi=0; vi < books[bi].votes.length; vi++) { 
                var meanings = JSON.parse('[' + books[bi].votes[vi].meanings + ']');%>
                <div id="vote<%= books[bi].votes[vi].vote_id %>">
                    <h5 class="word"><%= books[bi].votes[vi].word %></h5>
                    <p class="card-text">Sentence: <%= books[bi].votes[vi].sentence %></p>
                    <ul>
                        <% for(var j=0; j < meanings.length; j++) { %>
                        <li id="vote<%= books[bi].votes[vi].vote_id %>meaning<%= meanings[j].id %>" class="votemeaning">
                            [<%= meanings[j].fl %>] <%= meanings[j].meaning %>
                            <button class="btn btn-link" onclick="vote(<%= books[bi].votes[vi].vote_id %>, <%= meanings[j].id %>)">Select</button>
                        </li>
                        <% } %>

                    </ul>
                </div>
                <hr>
            <% } %>
        </div>
    </div>
<% } %>
<script type="text/javascript">
    function vote(vote_id, meaning_id){
        $.post( "/instructor/vote/",
            {   vote_id: vote_id,
                meaning_id: meaning_id
            },
            function( res ) {
                if(!res || typeof res.res === 'undefined' || res.res != 'success'){
                    return;
                }
                $('.votemeaning').removeClass("voted");
                $('#vote'+res.vote_id+'meaning'+res.meaning_id).addClass("voted");
                
            }, "json"
        );
    }
</script>
<% include partials/foot %>